paths:
  image_path: "/model-weights/vec-inf-shared/vector-inference_latest.sif" # Maintains backwards compatibility
  vllm_image_path: "/model-weights/vec-inf-shared/vector-inference-vllm_latest.sif"
  sglang_image_path: "/model-weights/vec-inf-shared/vector-inference-sglang_latest.sif"
  cached_model_config_path: "/model-weights/vec-inf-shared/models.yaml"

containerization:
  module_load_cmd: "module load apptainer"
  module_name: "apptainer"

limits:
  max_gpus_per_node: 8
  max_num_nodes: 178
  max_cpus_per_task: 64

allowed_values:
  qos: []
  partition: []
  resource_type: ["l40s", "h100"]

required_args:
  account: "VEC_INF_ACCOUNT"
  work_dir: "VEC_INF_WORK_DIR"

python_version: "python3.12"

model_types: ["LLM", "VLM", "Text_Embedding", "Reward_Modeling", "OCR"] # Derived from models.yaml

default_args:
  cpus_per_task: "16"
  mem_per_node: "64G"
  time: "08:00:00"
  qos: ""
  partition: ""
  resource_type: "l40s"
  exclude: ""
  nodelist: ""
  bind: ""
  venv: "apptainer"
  data_type: "auto"
  log_dir: "~/.vec-inf-logs"
  model_weights_parent_dir: "/model-weights"
